/* Everything that is global comes in here */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'inter';
}

.d-none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

input {
  border: unset;
}

button {
  cursor: pointer;
  /* border: unset; */
}

:root {
  /* color */
  --light-gray-bg: #f6f7f8;
  --primary-color-gray: rgba(42, 54, 71, 1);
  --primary-color-gray-hover: ;
  --blue: #29abe2;

  /* gap */
  --form-gap: 32px;
  --button-gap: 25px;
  --input-gap: 20px;

  /* shadow */
  --box-shadow: 0px 0px 14px 3px #0000000a;
  --box-shadow-header: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

  /* padding */
  --padding-header: 80px;

  /* border */
  --border-radius: 30px;

  /* font-size */

  /* transition */
  --transition-75ms: 75ms;
  --transition-125ms: 125ms;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-gray);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--light-blue);
    cursor: grab; */
}

::-webkit-scrollbar-thumb:active {
  /* background: var(--light-blue);
    cursor: grabbing; */
}

/* Responsive Breakpoints!!
Smartphones	320 - 480
Tablets	481 - 768
Laptops	769 - 1024
Desktops	1025 - 1440
Große Screens	1441+ */
