body {
    height: 100dvh;
    width: 100%;
}

.main-add-task {
  width: var(--main-container-width);
  margin-left: var(--margin-left-main);
  padding-top: var(--padding-top-main);
}

.h1-add-task {
    font-size: var(--font-size-61);
    font-weight: var(--font-weight-700);
    margin-bottom: 40px; /* sollte einheitlich sein*/
}


.footer-add-task {
    display: flex;
    justify-content: space-between;
}

.add-task-content {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

.vertical-line {
    width: 2px;
    background-color: var(--light-gray-placeholder); 
    margin: 0 40px;
    height: auto;
}

.left-container, .right-container {
    flex: 1;
}

.form-group {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.red {
    color: var(--red);
  }
  





