.body-add-task {
  min-height: calc(100dvh - 96px);
  width: 100%;
  background-color: var(--light-gray-bg);
}

.main-add-task {
  height: 100dvh;
  max-width: 976px;
  margin-left: var(--margin-left-main);
  padding-top: var(--padding-top-main);
}

.h1-add-task {
  font-size: var(--font-size-47-61);
  font-weight: var(--font-weight-700);
  margin-bottom: 40px;
}

.footer-add-task {
  width: 100%;
  max-width: 976px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.required-text {
  display: flex;
  align-items: flex-end;
}

.add-task-content {
  display: flex;
  margin-bottom: 70px;
  justify-content: space-between;
}

.add-task-content-board-popup {
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable;
  overflow-y: auto;
}

.add-task-content-board-popup::-webkit-scrollbar {
  width: var(--scollbar-width-thin);
}

.vertical-line {
  width: 2px;
  background-color: var(--light-gray-placeholder);
  margin: 0 40px;
  height: auto;
}

.left-container,
.right-container {
  flex: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 450px;
  scrollbar-gutter: stable;
}

.left-container::-webkit-scrollbar,
.right-container::-webkit-scrollbar {
  width: var(--scollbar-width-thin);
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.label-text {
  color: var(--primary-color-gray);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16-20);
}

.text {
  color: var(--primary-color-gray);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
}

.input-container {
  position: relative;
  width: 100%;
}

.align {
  display: flex;
  flex-direction: row;
}

.align-with-gap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.close-and-check {
  position: absolute;
  top: 50%;
  right: 0px;
  padding-right: 21px;
  transform: translateY(-50%);
  display: flex;
}

.vertical-line-subtask {
  width: 1px;
  background-color: var(--light-gray-placeholder);
  margin-left: 5px;
  height: auto;
}

.vertical-line-subtask-dark {
  width: 1px;
  background-color: grey;
  height: 20px;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  transition: background-color 0.3s ease;
}

.subtask-item:hover {
  background-color: #eeeeee;
  border-radius: var(--border-radius-input-fields);
}

.subtask-icons {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-right: 4px;
}

.subtask-icon {
  cursor: pointer;
}

.subtask-item:hover .subtask-icons {
  opacity: 1;
}

.subtask-enum {
  padding: 0 10px;
  max-height: 120px;
  /* overflow-y: auto; */
}

.subtask-text {
  flex-grow: 1;
  margin-right: 10px;
  cursor: pointer;
}

.subtask-icons {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit-icon {
  width: 18px;
  height: 18px;
}

.delete-icon {
  width: 22px;
  height: 22px;
}

.custom-select-container {
  position: relative;
  width: 100%;
}

.custom-options {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: var(--border-radius-input-fields);
  border: var(--border-input-fields);
}

.contacts-custom-options {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: var(--border-radius-input-fields);
  border: var(--border-input-fields);
  max-height: 190px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.contacts-custom-options::-webkit-scrollbar {
  width: var(--scollbar-width-thin);
}

.custom-select-option {
  padding: 12px 21px;
  cursor: pointer;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-20);
}

.custom-select-option:hover {
  background-color: #eeeeee;
  border-radius: var(--border-radius-input-fields);
}

.select-icon-active:hover,
.select-icon:hover {
  background-color: var(--light-gray-bg);
  border-radius: 50%;
}

.error-select-option {
  padding: 12px 21px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-20);
}

.contacts-custom-select-option {
  padding: 12px 21px;
  cursor: pointer;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  display: flex;
  flex-direction: column;
}

.contacts-custom-select-option:hover {
  background-color: #eeeeee;
  border-radius: var(--border-radius-input-fields);
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 2px solid white;
  box-sizing: border-box;
}

.circle-and-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name-and-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-select-focused {
  padding: 12px 21px 12px 21px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-20);
  background-color: white;
  height: 48px;
  border-radius: var(--border-radius-input-fields);
  border: 1px solid var(--blue);
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-custom-select-option-selected {
  padding: 12px 21px;
  cursor: pointer;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  background-color: var(--primary-color-gray) !important;
  border-radius: var(--border-radius-buttons);
  display: flex;
  flex-direction: column;
  color: white;
}

.show-selected-contacts {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.custom-input {
  color: black;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-20);
  border: none;
  outline: none;
}

.custom-input::placeholder {
  color: black;
  opacity: 1;
}

.error-message-required {
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-400);
  color: red;
}

.red-border {
  border: 1px solid red !important;
}

.custom-task {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 1400px){
  .main-add-task {
    max-width: 900px;
  }
}

@media screen and (max-width: 1330px){
  .main-add-task {
    max-width: 850px;
  }
}

@media screen and (max-width: 1250px){
  .main-add-task {
    max-width: 800px;
  }
}
