.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.popup,
.popup-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  width: 100%;
}

.overflow-y {
  overflow-y: auto;
}

.popup::-webkit-scrollbar,
.popup-info::-webkit-scrollbar,
.assignee-container::-webkit-scrollbar,
.overflow-y::-webkit-scrollbar {
  width: var(--scollbar-width-thin);
}

.popup::-webkit-scrollbar-thumb,
.popup-info::-webkit-scrollbar-thumb,
.assignee-container::-webkit-scrollbar-thumb,
.overflow-y::-webkit-scrollbar-thumb {
  background: var(--primary-color-gray);
  border-radius: 10px;
}

.popup-info h1 {
  font-weight: 700;
  font-size: 61px;
  /* line-height: 120%; */
  /* word-break: break-all; */
  white-space: pre-line;
}

.popup-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.popup-container,
.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  max-width: 525px;
  max-height: 780px;
  width: 100%;
  z-index: 101;
  flex-direction: column;
  display: none;
  border-radius: 30px;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  gap: 24px;
  box-shadow: 0px 0px 4px 0px #00000029;
}

.edit-close-buttton-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-add-task {
  overflow-y: auto;
}

.edit-popup-form-column {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 450px;
  scrollbar-gutter: none;
}

.ok-btn-container {
  justify-content: end;
  padding-bottom: 0;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tag-container {
  width: 164px;
  height: 36px;
  border-radius: 8px;
  padding-top: 4px;
  padding-right: 24px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.tag-container span {
  font-weight: 400;
  font-size: 23px;
  color: white;
}

.info-item-date {
  display: flex;
  gap: 25px;
}

.priority-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.priority-lable-container {
  display: flex;
  gap: 10px;
}

#priority-icon {
  width: 17px;
}

.popup-body {
  font-size: 1rem;
  line-height: 1.4;
}

.popup-actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 12px;
}

.assignee-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  justify-content: space-between;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 16px;
  max-height: 155px;
  overflow: auto;
  scrollbar-gutter: stable;
}

.contact-fullname {
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  vertical-align: middle;
}

.popup-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtasks-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 8px;
}

.subtasks-list span {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.subtasks-list img {
  cursor: pointer;
}

.subtask-checkbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url('/assets/icons/checkbox.png');
  background-size: cover;
  vertical-align: middle;
  margin-right: 4px;
}

.subtask-checkbox.checked {
  background-image: url('/assets/icons/checked.png');
}

.subtasks-elements-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.subtasks-elements-container:hover{
  background-color: #eeeeee;
  border-radius: var(--border-radius-input-fields);
}

.action-separator {
  width: 1px;
  height: 25px;
}

.action-button {
  display: flex;
  align-items: center;
  background-color: white;
  gap: 8px;
}

.action-button img {
  width: 24px;
  height: 24px;
}

.action-button span {
  font-weight: 400;
  font-size: 16px;
  vertical-align: middle;
}

.info-item-assigned {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.assigned-contact {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.assigned-contact-container {
  display: flex;
  align-items: center;
  gap: 20px;
}