body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;
}

.contacts-container {
    display: flex;
    padding-top: 96px;
    padding-left: 232px;
    height: 100vh;
    gap: 30px;
}

.main-content{
    padding-top: 100px;
    padding-left: 50px;
}

.sidebarContact {
    width: 456px;
    height: 100%; 
    background-color: #FFFFFF;
    border-right: 1px solid #E0E0E0;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #B0BEC5 #F0F0F0; 
}

.sidebarContact::-webkit-scrollbar {
    width: 8px; 
}

.sidebarContact::-webkit-scrollbar-thumb {
    background-color: #B0BEC5; 
    border-radius: 4px;
}

.sidebarContact::-webkit-scrollbar-track {
    background-color: #F0F0F0; 
}

.add-contact-btn {
    background-color: #2A3647;
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 90%;
    height: 56px;
    top: 22.5px;
    left: 52px;
    border-radius: 10px;
    border-width: 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 16px;
}

.add-contact-btn img {
    width: 32px;
    height: 32px;
}

.add-contact-btn:hover {
    background-color: var(--blue);
    box-shadow: var(--box-shadow-button);
}

.contact-list {
    margin-top: 20px;
    width: 90%;
}

.letter-group {
    color: #111;
    width: 100%;
    height: 58px;
    padding-top: 17px;
    padding-right: 36px;
    padding-bottom: 17px;
    padding-left: 36px;
    gap: 8px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.line {
    width: 100%;   
    height: 1px; 
    gap: 10px;   
    background-color: #E0E0E0; 
    border-radius: 8px; 
    margin-bottom: 10px;
}

.contact {
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    width: 100%;
    height: 78px;
    border-radius: 10px;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    gap: 35px;
}

.contact:hover {
    background: linear-gradient(to bottom, #FFFFFF 0%, #F5F5F5 50%, #E0E0E0 100%);
    transition: background 0.3s ease-in-out;
}


.contact-avatar {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

.contact-info {
    display: flex;
    flex-direction: column;
    height: 48px;
    gap: 5px;

}

.contact-name {
    color: #111;
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.contact-email {
    color: rgba(0, 124, 238, 1);
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.main-content{
    width: 100vh;
    height: 73px;
    gap: 30px;

}

.main-content h1 {
    color: rgba(0, 0, 0, 1);
    margin: 0;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    letter-spacing: 0%;
}

.divider {
    margin: 0px 30px;
    border: 2px solid rgba(41, 171, 226, 1);
    height: 59px;
}

.subtitle {
    color: #2A3647;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0%;
}
