.edit-subtask-enum::-webkit-scrollbar {
    width: var(--scollbar-width-thin);
}

.edit-subtask-enum::-webkit-scrollbar-thumb {
    background: var(--primary-color-gray);
    border-radius: 10px;
}

.edit-content {
    flex-direction: column;
    margin-bottom: unset;
}

.edit-overflow {
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.edit-overflow::-webkit-scrollbar {
    width: var(--scollbar-width-thin);
}

.close-div {
    width: 100%;
    display: flex;
    justify-content: end;
}

.edit-form-column {
    margin-bottom: 30px;
}

.edit-subtask-enum {
    max-height: 88px;
    overflow-y: auto;
}