.edit-content {
    flex-direction: column;
}

.edit-overflow {
    overflow-y: auto;
  scrollbar-gutter: stable;
}

.edit-overflow::-webkit-scrollbar {
    width: var(--scollbar-width-thin);
}

.close-div {
    width: 100%;
    display: flex;
    justify-content: end;
}

.edit-form-column {
    margin-bottom: 30px;
}