.body-header-sidebar {
  background-color: var(--light-gray-bg);
  display: flex;
}

/* body {
  font-family: 'inter';
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: -webkit-fill-available;
  height: 96px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 120px;
  background-color: white;
  box-shadow: var(--box-shadow-header);
  position: fixed;
  top: 0;
  left: 232px;
  box-sizing: border-box;
}

.header h1 {
  font-size: var(--font-size-20);
  font-weight: 400;
  color: black;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-icons a:hover {
  transform: scale(1.2);
}

.header-icons span {
  font-size: 18px;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.header-icons span:hover {
  color: #4a90e2;
}

.sidebar {
  width: 232px;
  height: -webkit-fill-available;
  background: var(--primary-color-gray);
  box-shadow: var(--box-shadow-sidebar);
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.logo {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 100px;
}

.logo img {
  width: 100.03px;
  height: 121.97px;
}

.nav-links {
  list-style: none;
  padding: 0;
  width: 232px;
  height: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #b0b0b0;
  padding: 15px 20px;
  transition: 0.3s ease-in-out;
}

.nav-links a span {
  width: 15px;
  height: 30px;
  font-size: 30px;
  margin-right: 10px;
}

.nav-links a span {
  width: 72px;
  height: 19px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
  color: #b0b0b0;
}

.nav-links .active a {
  background-color: #1c2430;
  color: white;
  font-weight: bold;
}

.nav-links .active a span {
  color: white;
}

.boaimg {
  margin-right: 20px;
}

.nav-links a:hover {
  background-color: #3a4756;
  color: white;
  padding-left: 25px;
}

.nav-links a:hover span {
  color: white;
}

.user-profile {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid var(--primary-color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #4a90e2;
  background-color: white;
  transition: border 75ms ease-in-out, transform 75ms;
  cursor: pointer;
}

.user-profile:hover {
  border: 3px solid #2a3647;
  transform: scale(1.1);
  background: linear-gradient(0deg, rgba(12, 46, 98, 0.12), rgba(12, 46, 98, 0.12));
}

.footer {
  height: 317px;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.footer a {
  color: var(--gray-a-links);
  font-size: var(--font-size-14);
  width: 121;
  height: 35;
  gap: 8px;
  padding: 8px;
}

.footer a:hover {
  color: #4a90e2;
  transform: scale(1.1);
  text-decoration: none;
}

.submenu {
  position: absolute;
  top: 75px;
  right: 10px;
  background: #2a3647;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 160px;
  z-index: 100;
}

.submenu a {
  text-decoration: none;
  color: #cdcdcd;
  display: block;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
  width: 130;
  height: 46;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  gap: 8px;
  margin-bottom: 10px;
}

.submenu a:hover {
  background: rgba(42, 61, 89, 1);
  transform: scale(0.9);
}

.hidden {
  display: none;
}

.user-profile-container {
  position: relative;
}
