.body-board {
  min-height: calc(100dvh - 96px);
  width: 100%;
  background-color: var(--light-gray-bg);
}

.main-board {
  margin-left: var(--margin-left-main);
  padding-top: var(--padding-top-main);
  height: 100dvh;
  overflow: hidden;
}

.headline-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline-input-container span {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

.search-input-add-button-div {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 48px;
  margin-right: 48px;
}

.search-input-div {
  position: relative;
  display: flex;
  align-items: center;
}

.search-inputfield {
  height: 48px;
  width: 100%;
  padding: 8px 64px 8px 16px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  line-height: 24px;
}

.placeholder {
  width: 1px;
  height: 32px;
  position: absolute;
  right: 59px;
  border-left: 1px solid lightgray;
}

.search-icon {
  position: absolute;
  right: 10px;
  width: 32px;
  height: 32px;
}

.card-container {
  width: 100%;
  height: calc(80dvh - 113px);
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  overflow: hidden;
}

.drag-area {
  display: flex;
  flex-direction: column;
  width: 252px;
  gap: 10px;
  padding: 10px 0 35px 0;
  border: none;
  height: calc(80dvh - 137px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

.drag-area::-webkit-scrollbar {
  width: var(--scollbar-width-thin);
}

.drag-area-highlight {
  border: 1px dashed #a8a8a8;
  border-radius: 8px;
  transition: border 0.3s ease-in-out;
}

.no-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 48px;
  gap: 10px;
  border-radius: 10px;
  border-width: 1px;
  background: #e7e7e7;
  color: #a8a8a8;
  border: 1px dashed #a8a8a8;
  box-shadow: 0px 0px 4px 0px #00000029;
}

.todo {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  cursor: grab;
}

.column-title {
  width: 252px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.test-card {
  width: 252px;
  height: 244px;
  gap: 10px;
  border-radius: 24px;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 3px #00000014;
  cursor: pointer;
}

.card-headline-div {
  width: 113px;
  height: 27px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
  gap: 10px;
  border-radius: 8px;
  background: #0038ff;
}

.card-headline {
  width: 81px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  color: white;
}

/* To do Cards */

.todo-card {
  display: flex;
  gap: 10px;
  padding: 16px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.under-container {
  display: flex;
  width: 220px;
  gap: 20px;
  flex-direction: column;
}

.technical-cards-headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 27px;
  padding: 4px 16px 4px 16px;
  gap: 10px;
  border-radius: 8px;
  background: rgba(31, 215, 193, 1);
}

.user-cards-headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 27px;
  padding: 4px 16px 4px 16px;
  gap: 10px;
  border-radius: 8px;
  background: rgba(0, 56, 255, 1);
}

.cards-headline {
  width: 112px;
  height: 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.cards-title {
  font-size: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.cards-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 2; */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #a8a8a8;
}

.assigned-contacts-container {
  display: flex;
  align-items: center;
  height: 34px;
  padding: 10px;
}

.initials-span {
  width: 32px;
  height: 32px;
  border-radius: 45px;
  background: #ff7a00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 2px solid #ffffff;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: center;
  flex-shrink: 0;
  margin-left: -10px;
}

.extra-contacts-span {
  font-size: 16px;
  font-weight: 700;
  margin-left: 5px;
}

.card-subtask-container {
  display: flex;
  align-items: center;
  height: 16px;
  gap: 8px;
}

.progress-container {
  width: 128px;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 16px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background: #4589ff;
  border-radius: 16px 0 0 15px;
  transition: width 0.2s ease-in-out;
}

[id$='-subtask-counter'] {
  font-size: 12px;
}

.prio-container {
  display: flex;
  align-items: center;
}

.contacts-prio {
  display: flex;
  justify-content: space-between;
}

.tilted {
  transform: rotate(+5deg);
  transition: transform 0.2s ease;
}

/* Board Add task + */

.overlay {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.board-add-task {
  position: fixed;
  top: 50%;
  right: -300%;
  width: 1116px;
  height: 870px;
  padding: 60px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-50%);
  z-index: 105;
  transition: all 0.5s ease-in-out;
}

.board-add-task.show {
  right: 10%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtask-template-headline-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.popup-add-task {
  width: 100%;
}

.add-button-img-column {
  cursor: pointer;
  
}
