.body-login-register {
  position: relative;
  height: 100dvh;
  width: 100%;
  background-color: var(--light-gray-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.animation-join-logo {
  width: 274px;
  z-index: 2;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-animations-overlay);
}

.animation-join-logo img {
  display: block;
  width: 100%;
}

@keyframes logoAnimation {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 274px;
  }
  to {
    top: 60px;
    left: 60px;
    width: 100px;
    transform: none;
  }
}

.animation-finished {
  display: none;
  position: absolute;
  top: clamp(15px, 6px + 2.8125vw, 60px);
  left: clamp(15px, 6px + 2.8125vw, 60px);
  width: fit-content;
  height: clamp(60px, 47.6px + 3.875vw, 122px);
  transform: none;
}

.nav-log-in {
  position: absolute;
  top: 80px;
  right: 80px;
  display: flex;
  align-items: center;
  height: 49px;
  gap: 35px;
  opacity: 0;
}

.nav-log-in button {
  border-radius: var(--border-radius-buttons);
  padding: 15px 16px 15px 16px;
  background-color: var(--primary-color-gray);
  box-shadow: none;
  color: white;
  font-size: var(--font-size-16);
  transition: var(--transition-hover-effect);
}

.nav-log-in button:hover {
  background-color: var(--blue);
  box-shadow: var(--box-shadow-button);
}

.nav-log-in span {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16-20);
}

.login-container {
  padding: 48px 20px 48px 20px;
  gap: 20px;
  max-width: 652px;
  width: clamp(300px, 229.6px + 22vw, 652px);
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.headline-vector h1 {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-37-61);
  text-align: center;
}

.headline-vector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  gap: 16px;
}

.checkbox-container {
  display: flex;
  padding: 0 16px 0 16px;
}

.button-container {
  margin-top: 18px;
  gap: var(--button-gap);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-log-in,
.button-sign-up {
  background-color: var(--primary-color-gray);
  color: white;
  box-shadow: none;
  padding: 15px 24px 15px 24px;
  border-radius: var(--border-radius-buttons);
  white-space: nowrap;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-16-21);
  transition: var(--transition-hover-effect);
  border: var(--border-buttons-gray);
}

.button-log-in:hover,
.button-sign-up:hover {
  scale: var(--scale-hover);
  background-color: var(--blue);
  box-shadow: var(--box-shadow-button);
  border: var(--border-buttons-blue);
}

.button-guest-log-in {
  box-shadow: none;
  transition: var(--transition-hover-effect);
  border: var(--border-buttons-gray);
  background-color: white;
  padding: 15px 24px 15px 24px;
  border-radius: var(--border-radius-buttons);
  color: var(--primary-color-gray);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-16-21);
  white-space: nowrap;
}

.button-guest-log-in:hover {
  scale: var(--scale-hover);
  color: var(--blue);
  border-color: var(--blue);
  box-shadow: var(--box-shadow-button);
}

/* sign up section */
.sign-up-container {
  position: relative;
  padding: 48px 20px 48px 20px;
  gap: 20px;
  width: clamp(300px, 240px + 18.75vw, 600px);
  max-width: 652px;
  min-height: 450px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.visibility-eye-off-icon {
  display: none;
}

.input-base:focus + .input-base-icon .lock-icon,
.input-base:not(:placeholder-shown) + .input-base-icon .lock-icon {
  display: none;
}

.input-base:focus + .input-base-icon .visibility-eye-off-icon,
.input-base:not(:placeholder-shown) + .input-base-icon .visibility-eye-off-icon {
  display: block;
}

.checkbox-accept-privacy-policy {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.checkbox-accept-privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-accept-privacy-policy label {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.checkbox-accept-privacy-policy a {
  color: var(--light-blue);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14-16);
  white-space: nowrap;
  width: 105px;
}

.checkbox-accept-privacy-policy a:hover {
  font-weight: var(--font-weight-500);
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 3px;
}

.checkbox-accept-privacy-policy span {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14-16);
  white-space: nowrap;
}

.checkbox-accept-privacy-policy input {
  display: none;
}

.custom-checkmark {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 16px;
  display: inline-block;
  margin-right: 5px;
}

.input-checkbox {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 16px;
  display: inline-block;
  margin-right: 5px;
}

.footer-login-register {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray-bg);
  height: 35px;
  opacity: 0;
  gap: 25px;
}

.footer-login-register a {
  cursor: pointer;
  color: var(--gray-a-links);
  font-size: var(--font-size-14-16);
  font-weight: var(--font-weight-400);
}

.footer-login-register a:hover {
  font-weight: var(--font-weight-700);
  color: var(--blue);
  scale: var(--scale-hover);
}

@media only screen and (max-width: 922px){ 
}
@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 600px){
  .nav-log-in {
    top: unset;
    right: unset;
    bottom: 145px;
  }
}

@media only screen and (max-width: 360px){
  .login-register-main{
    transform: translateY(-40px);
  }

  .nav-log-in{
    bottom: 94px;
  }

  @keyframes logoAnimation {
   from {
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100px;
   }
   to {
     top: 10px;
     left: 10px;
     height: 32px;
     width: fit-content;
     transform: none;
   }
  }

  .login-container,.sign-up-container {
   padding: 16px clamp(16px, -3.8px + 6.1875vw, 115px) 16px clamp(16px, -3.8px + 6.1875vw, 115px);
   gap: 4px;
   min-height: unset;
  }

  .vector-login,.vector-sign-up{
   background-image: url(../assets/icons/vector-mobile.svg);
   background-repeat: no-repeat;
   background-size: 100%;
  }

  .vector-login{ 
   height: 3px;
   width: 90px;
  }

  .vector-sign-up{
   height: 3px;
   width: 95px;
  }

  .headline-vector{
    gap: 4px;
    width: 100%;
  }

  .nav-log-in {
    justify-content: center;
  }
  
  .form{
    gap: 20px;
  }
  
  .button-container {
    width: 180px;
    margin-top: 0px;
    margin-bottom: 10px;
    gap: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .button-log-in, .button-sign-up, .button-guest-log-in {
    padding: 10px 15px 10px 15px;
  }
  
  .button-log-in,.button-guest-log-in{
    width: 100%;
  }
  
  .footer-login-register {
    bottom: 24px;
    gap: 15px;
  }

  .sign-up-container{
    transform: translateY(45px);
  }
}