.body-login-register {
  position: relative;
  height: 100dvh;
  width: 100%;
  background-color: var(--light-gray-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.animation-join-logo {
  width: 274px;
  z-index: 2;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-animations-overlay);
}

.animation-join-logo img {
  display: block;
  width: 100%;
}

@keyframes logoAnimation {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 274px;
  }
  to {
    top: 60px;
    left: 60px;
    width: 100px;
    transform: none;
  }
}

.animation-finished {
  display: none;
  position: absolute;
  top: 60px;
  left: 60px;
  width: 100px;
  transform: none;
}

.nav-log-in {
  position: absolute;
  top: 80px;
  right: 80px;
  display: flex;
  align-items: center;
  width: 279px;
  height: 49px;
  gap: 35px;
  opacity: 0;
}

.nav-log-in button {
  border-radius: var(--border-radius-buttons);
  padding: 15px 16px 15px 16px;
  background-color: var(--primary-color-gray);
  box-shadow: none;
  color: white;
  font-size: var(--font-size-16);
  transition: var(--transition-hover-effect);
}

.nav-log-in button:hover {
  background-color: var(--blue);
  box-shadow: var(--box-shadow-button);
}

.nav-log-in span {
  font-weight: var(--font-weight-400);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.login-container {
  padding: 48px 115px 48px 115px;
  gap: 20px;
  width: 652px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.headline-vector h1 {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-61);
  line-height: 73.2px;
  letter-spacing: 0%;
  text-align: center;
}

.headline-vector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  height: 89px;
}

.vector {
  display: block;
}

.checkbox-container {
  display: flex;
  padding: 0 16px 0 16px;
}

.button-container {
  width: 322px;
  margin-top: 18px;
  gap: var(--button-gap);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-log-in,
.button-sign-up {
  background-color: var(--primary-color-gray);
  color: white;
  box-shadow: none;
  padding: 15px 24px 15px 24px;
  border-radius: var(--border-radius-buttons);
  white-space: nowrap;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-21);
  transition: var(--transition-hover-effect);
  border: var(--border-buttons-gray);
}

.button-log-in:hover,
.button-sign-up:hover {
  scale: var(--scale-hover);
  background-color: var(--blue);
  box-shadow: var(--box-shadow-button);
  border: var(--border-buttons-blue);
}

.button-guest-log-in {
  box-shadow: none;
  transition: var(--transition-hover-effect);
  border: var(--border-buttons-gray);
  background-color: white;
  padding: 15px 24px 15px 24px;
  border-radius: var(--border-radius-buttons);
  color: var(--primary-color-gray);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-21);
  white-space: nowrap;
}

.button-guest-log-in:hover {
  scale: var(--scale-hover);
  color: var(--blue);
  border-color: var(--blue);
  box-shadow: var(--box-shadow-button);
}

.footer-login-register {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray-bg);
  height: 35px;
  width: 246px;
  opacity: 0;
}

.footer-login-register span {
  cursor: pointer;
  color: var(--gray-a-links);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
}

.footer-login-register span:hover {
  font-weight: var(--font-weight-700);
  color: var(--blue);
  scale: var(--scale-hover);
}

/* sign up section */
.sign-up-container {
  position: relative;
  padding: 48px 115px 48px 115px;
  gap: 20px;
  width: 652px;
  min-height: 450px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.arrow-left {
  position: absolute;
  display: grid;
  place-items: center;
  top: 60px;
  left: 80px;
  width: 35px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  cursor: pointer;
}

.arrow-left img {
  width: 21px;
}

.arrow-left:hover {
  background-color: var(--light-gray-bg);
}

.arrow-left:hover img {
  transform: scale(1.1);
}

.visibility-eye-off-icon {
  display: none;
}

.input-base:focus + .input-base-icon .lock-icon,
.input-base:not(:placeholder-shown) + .input-base-icon .lock-icon {
  display: none;
}

.visibility-eye-off-icon {
  display: none;
}

.input-base:focus + .input-base-icon .visibility-eye-off-icon,
.input-base:not(:placeholder-shown) + .input-base-icon .visibility-eye-off-icon {
  display: block;
}

.error-message-Confirm-password {
  position: absolute;
  top: 115%;
  left: 0;
  color: red;
  font-size: 12px;
  display: block;
  font-weight: 400;
}

.error-message-log-in {
  position: absolute;
  top: 115%;
  left: 0;
  color: red;
  font-size: 12px;
  display: block;
  font-weight: 400;
}

.checkbox-accept-privacy-policy {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.checkbox-accept-privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-accept-privacy-policy label {
  display: flex;
  gap: 5px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.checkbox-accept-privacy-policy a {
  color: var(--light-blue);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  white-space: nowrap;
  width: 105px;
}

.checkbox-accept-privacy-policy a:hover {
  font-weight: var(--font-weight-500);
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 3px;
}

.checkbox-accept-privacy-policy span {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  white-space: nowrap;
}

.checkbox-accept-privacy-policy input {
  position: absolute;
  display: none;
}

.custom-checkmark {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 16px;
  display: inline-block;
  margin-right: 5px;
}

.checkbox {
  width: 24px;
  aspect-ratio: 1 / 1;
}

.checkbox img {
  cursor: pointer;
  display: block;
}
