.priv {
  margin-right: 80px;
  position: absolute;
  top: 190px;
  left: 328px;
  padding-bottom: 90px;
}

.priv h1 {
  font-size: var(--font-size-47-61);
  font-weight: var(--font-weight-700);
}

p {
  line-height: 1.6;
  font-size: 16px;
  margin: 10px 0;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

strong {
  color: #004080;
}

a {
  color: #0073e6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  background-color: white;
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container p {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.container p:last-child {
  border-bottom: none;
}

.headline-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
